<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Chart CDN link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Link Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#" style="color: white;"><div class="head1">Om Construction</div></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/records">Records</a></li>
              <li><a href="/Stocks">Stocks Available</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li style="padding-right: 20px;"><a href="/login" style="color: #5bc0de;"><span class="glyphicon glyphicon-log-in" style="color:#5bc0de"></span> Login</a></li> -->

                <%if(username!=null){%>
                  <li style="padding-right: 20px;" class="drop"><a href="/signup" class="dropdown-toggle" data-toggle="dropdown" style="color: #5bc0de;"><span class="glyphicon glyphicon-user" style="color: #5bc0de;" ></span> <%=username%></a>
                    <ul class="dropdown-menu">
                      <li><a href="/insert">Insert Records</a></li>
                      <li><a href="/show">Show Records</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                  <%}%>
                  <%if(username==null){%>
                    <li style="padding-right: 20px;"><a href="/login" style="color: #5bc0de;"><span class="glyphicon glyphicon-log-in" style="color:#5bc0de"></span> Login</a></li>
                  <%}%>

                  <form class="navbar-form navbar-left" action="/search" method="post">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter Cement Name" name="name">
                    </div>
                    <button type="submit" value="search" class="btn btn-success">Search</button>
                  </form>
            </ul>
          </div>
      </nav>

      <div class="container">
          <div class="insertform">
              <div class="jumbotron">
                        <form action="/update" method="post">
                            <h2 style="text-align: center; font-size: 24px;padding-bottom: 30px;">Edit Details</h2>
                            
                            <input type="hidden" name="id" value="<%= records._id%>">
                            <div class="form-group">
                                <select class="form-control" name="category" required="required">
                                            <option value="" <% if(records.category=='') {%>selected<%}%>>Select Category</option>
                                            <option value="Buy" <% if(records.category=='Buy'){%>selected<%}%>>Buy</option>
                                            <option value="Sell" <% if(records.category=='Sell'){%> selected <%}%> >Sell</option>
                                </select>   
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="cementName" required="required">
                                        <option value="" <% if(records.cementName=='') {%>selected <%}%> >Select Cement Name</option>
                                        <option value="Lafarge" <% if(records.cementName=='Lafarge'){%>selected<%}%>>Lafarge</option>
                                        <option value="Birla" <% if(records.cementName=='Birla'){%>selected <%}%>>Birla</option>
                                        <option value="Dalmia" <% if(records.cementName=='Dalmia'){%>selected<%}%>>Dalmia</option>
                                        <option value="Others" <% if(records.cementName=='Others'){%>selected<%}%>>Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="month" class="form-control" id="month" name="month" value="<%= records.month%>" required="required"/>
                              </div>
                            <div class="form-group">
                                    <input type="number" class="form-control" name="bag" placeholder="Quantity" required="required" value='<%= records.quantity%>'>
                            </div>
                            <div class="form-group">
                                    <input type="date" class="form-control" name="date" placeholder="Date" data-date-format="DD MMMM YYYY" required="required" value='<%= records.date%>'>
                            </div>
                           
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg btn-block">Update</button>
                            </div>
                        </form>
                    </div>

          </div>
      </div>




      <footer class="page-footer font-small blue" style="background-color:whitesmoke; position: absolute; bottom: 0; width: 100%; ">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" style="padding:20px 0 ;">© 2019 Copyright:
              <a href="#"> Ankit Kumar</a>
            </div>
            <!-- Copyright -->
          
      </footer>

     
  </body>
</html>
