<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Chart CDN link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Link Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#" style="color: white;"><div class="head1">Om Construction</div></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/records">Records</a></li>
              <li><a href="/Stocks">Stocks Available</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li style="padding-right: 20px;"><a href="/login" style="color: #5bc0de;"><span class="glyphicon glyphicon-log-in" style="color:#5bc0de"></span> Login</a></li> -->

                <%if(username!=null){%>
                  <li style="padding-right: 20px;" class="drop"><a href="/signup" class="dropdown-toggle" data-toggle="dropdown" style="color: #5bc0de;"><span class="glyphicon glyphicon-user" style="color: #5bc0de;" ></span> <%=username%></a>
                    <ul class="dropdown-menu">
                      <li><a href="/insert">Insert Records</a></li>
                      <li><a href="/show">Show Records</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                  <%}%>
                  <%if(username==null){%>
                    <li style="padding-right: 20px;"><a href="/login" style="color: #5bc0de;"><span class="glyphicon glyphicon-log-in" style="color:#5bc0de"></span> Login</a></li>
                  <%}%>


                  <form class="navbar-form navbar-left" action="/search" method="post">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter Cement Name" name="name">
                    </div>
                    <button type="submit" value="search" class="btn btn-success">Search</button>
                  </form>

            </ul>
          </div>
      </nav>
<!-- code for target bar -->
      <div class="container">
        <div class="jumbotron">
        <div class="targetbar">
          <h3>Target of the Year</h3>
        </div>
        <div class="progress">
            <div class="progress-bar bg-info" id="acheived" style=" background-color: #5cb85c;">Achieved</div>
          </div>
        </div>
      </div>
    
      <!-- for Selling data -->

          <%sell.forEach(function(row){
            if(row._id==="Lafarge"){%>
              <input type="hidden" id="Lafargesell" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sell.forEach(function(row){
            if(row._id==="Birla"){%>
              <input type="hidden" id="Birlasell" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sell.forEach(function(row){
            if(row._id==="Dalmia"){%>
              <input type="hidden" id="Dalmiasell" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sell.forEach(function(row){
            if(row._id==="Others"){%>
              <input type="hidden" id="Othersell" value="<%= row.total%>"><%}%>            
          <%})%>

          <!-- buying details -->
          <%buy.forEach(function(row){
            if(row._id==="Lafarge"){%>
              <input type="hidden" id="Lafargebuy" value="<%= row.total%>"><%}%>            
          <%})%>
          <%buy.forEach(function(row){
            if(row._id==="Birla"){%>
              <input type="hidden" id="Birlabuy" value="<%= row.total%>"><%}%>            
          <%})%>
          <%buy.forEach(function(row){
            if(row._id==="Dalmia"){%>
              <input type="hidden" id="Dalmiabuy" value="<%= row.total%>"><%}%>            
          <%})%>
          <%buy.forEach(function(row){
            if(row._id==="Others"){%>
              <input type="hidden" id="Otherbuy" value="<%= row.total%>"><%}%>            
          <%})%>

          <!-- Sell records per month -->












          <%sellmonth.forEach(function(row){
            if(row._id==="2019-01"){%>

              <input type="hidden" id="January" value="<%= row.total%>">
              <%}%>            
          <%})%>
          <%sellmonth.forEach(function(row){
            if(row._id==="2019-02"){%>
              <input type="hidden" id="February" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sellmonth.forEach(function(row){
            if(row._id==="2019-03"){%>
              <input type="hidden" id="March" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sellmonth.forEach(function(row){
            if(row._id==="2019-04"){%>
              <input type="hidden" id="April" value="<%= row.total%>"><%}%>            
          <%})%>






          <%sellmonth.forEach(function(row){
            if(row._id==="2019-05"){%>
              <input type="hidden" id="May" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sellmonth.forEach(function(row){
            if(row._id==="2019-06"){%>
              <input type="hidden" id="June" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sellmonth.forEach(function(row){
            if(row._id==="2019-07"){%>
              <input type="hidden" id="July" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sellmonth.forEach(function(row){
            if(row._id==="2019-08"){%>
              <input type="hidden" id="August" value="<%= row.total%>"><%}%>            
          <%})%>
        

          


          <%sellmonth.forEach(function(row){
            if(row._id==="2019-09"){%>

              <input type="hidden" id="September" value="<%= row.total%>"><%}%>
                          
          <%})%>
          <%sellmonth.forEach(function(row){
            if(row._id==="2019-10"){%>
              <input type="hidden" id="October" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sellmonth.forEach(function(row){
            if(row._id==="2019-11"){%>
              <input type="hidden" id="November" value="<%= row.total%>"><%}%>            
          <%})%>
          <%sellmonth.forEach(function(row){
            if(row._id==="2019-12"){%>
              <input type="hidden" id="December" value="<%= row.total%>"><%}%>            
          <%})%>

    


<!-- Code for Buying details -->
      <div class="container">
        <div class="jumbotron">
            <div class="buying">
                <h3>Selling Details</h3>
              </div>
              <canvas id="barChart"></canvas>
        </div>
      </div>

<!-- Code for Buying details -->
    <div class="container">
        <div class="jumbotron">
            <div class="buying">
                <h3>Buying Details</h3>
              </div>
              <canvas id="pieChart"></canvas>
        </div>
      </div>

<!-- Code for Buying details -->
    <div class="container">
      <div class="jumbotron">
        <div class="buying">
            <h3> Total Selling Details per Months</h3>
          </div>
          <canvas id="lineChart" ></canvas>
      </div>
    </div>



      <footer class="page-footer font-small blue" style="background-color:whitesmoke; position: relative; bottom: 0; width: 100%; ">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" style="padding:20px 0 ;">© 2019 Copyright:
              <a href="#"> Ankit Kumar</a>
            </div>
            <!-- Copyright -->
          
      </footer>
      <script>

            var lafarge_sell = parseInt(document.getElementById("Lafargesell").value);
            var birla_sell = parseInt(document.getElementById("Birlasell").value);
            var dalmia_sell = parseInt(document.getElementById("Dalmiasell").value);
            var others_sell = parseInt(document.getElementById("Othersell").value);


            var total_sell = lafarge_sell+birla_sell+dalmia_sell+others_sell;

            var target_per_year = 4000;

            var target = Math.ceil((total_sell/target_per_year)*100);

            document.getElementById("acheived").style.width = target+"%";



            var lafarge_buy = parseInt(document.getElementById("Lafargebuy").value);
            var birla_buy = parseInt(document.getElementById("Birlabuy").value);
            var dalmia_buy = parseInt(document.getElementById("Dalmiabuy").value);
            var others_buy = parseInt(document.getElementById("Otherbuy").value);

            


            // code for sell per month

            var jan,feb,mar,apr,may,jun,jul,aug,sept,oct,nov,dec;

            
            var January = document.getElementById("January");
            var February = document.getElementById("February");
            var March = document.getElementById("March");
            var April = document.getElementById("April");
            var May = document.getElementById("May");
            var June = document.getElementById("June");
            var July = document.getElementById("July");
            var August = document.getElementById("August");
            var September = document.getElementById("September");
            var October = document.getElementById("October");
            var November = document.getElementById("November");
            var December = document.getElementById("December");



            if(January!==null){
              var jan = parseInt(January.value);
            }
            else{
              var jan = null;
            }

            if(February!==null){
                  var feb = parseInt(February.value);
            }
            else{
                  var feb = null;
            }
            if(March!==null){
              var mar = parseInt(March.value);
            }
            else{
              var mar = null;
            }
            if(April!==null){
              var apr = parseInt(April.value);
            }
            else{
              var apr=null;
            }
            if(May!==null){
              var may = parseInt(April.value);
            }
            else{
              var may = null;
            }
            if(June!==null){
              var jun = parseInt(June.value);
            }
            else{
              var jun=null;
            }
            if(July!==null){
              var jul = parseInt(July.value);
            }
            else{
              var jul =null;
            }
            if(August!==null){
              var aug = parseInt(August.value);
            }
            else{
              var aug = null;
            }
            if(September!==null){
              var sept = parseInt(September.value);
            }
            else{
              var sept = null;
            }
            if(October!==null){
              var oct = parseInt(October.value);
            }
            else{
              var oct = null;
            }
            if(November!==null){
              var nov = parseInt(November.value);
            }
            else{
              var nov = null;
            }
            if(December!==null){
              var dec = parseInt(December.value);
            }
            else{
              var dec = null;
            }


        
          var barChart = document.getElementById('barChart').getContext('2d');
          Chart.defaults.global.defaultFontFamily = 'Lato';
          Chart.defaults.global.defaultFontSize = 15;
          Chart.defaults.global.defaultFontColor = '#777';
          var mybarchart = new Chart(barChart,{
              type:'bar',
              data:{
                  labels:['Lafarge','Birla Gold','Dalmia','others'],
                  datasets:[{
                      label:'Cement',
                      data:[lafarge_sell,birla_sell,dalmia_sell,others_sell],
                      backgroundColor:['#5cb85c','#f0ad4e','#5bc0de','#292b2c'],
                      
                      hoverBorderWidth:2,
                      hoverBorderColor:'grey',
                  }]

              },
              options:{
                  title:{
                      display:false,
                      text:'Buying List',
                      fontSize:20,
                      fontColor:'#524D4F',
                      
                  },
                  legend:{
                      display:false,
                      position:'right',
                      labels:{
                          fontColor:'#000'
                      }
                  },

                  layout:{
                      padding:{
                          left:50,
                          right:0,
                          top:20,
                          bottom:20
                      }
                  },
                  tooltips:{
                  enabled:true
                  },
                  options: {
                           responsive: true
                          },
              }
          });




          //code for pie chart
          var pieChart = document.getElementById('pieChart').getContext('2d');

          var mypiechart = new Chart(pieChart,{
            type:'doughnut',      //line , pie, doughnut
          data:{
              labels:['Lafarge','Birla Gold','Dalmia','others'],
              datasets:[{
              label:'Cement',
              data:[lafarge_buy,birla_buy,dalmia_buy,others_buy],
              backgroundColor:['#5cb85c','#f0ad4e','#5bc0de','#292b2c'],
              hoverBorderWidth:2,
              hoverBorderColor:'grey',
           }]

      },
          options:{
          title:{
              display:false,
              text:'Buying List',
              fontSize:20,
              fontColor:'#524D4F',
          
          },
          legend:{
              display:true,
              position:'right',
          },

          layout:{
              padding:{
                  left:50,
                  right:0,
                  top:20,
                  bottom:20
               }
          },
      options: {
               responsive: true
              },
  }
});





  //code for Line charts
    var lineChart = document.getElementById('lineChart').getContext('2d');

    var mylinechart = new Chart(lineChart,{
      type:'line',      //line , pie, doughnut
      lineColor:'green',
      data:{
      labels:['January','February','March','April','May','June','July','August','September','October','November','December'],
      datasets:[{
        borderColor:'#5cb85c',
        pointBackgroundColor:'#292b2c',
      label:'Cements',
      data:[jan,feb,mar,apr,may,jun,jul,aug,sept,oct,nov,dec],
      // backgroundColor:['#28AF65','#E7D607','#0783B9','#983558'],
      // hoverBorderWidth:2,
      // hoverBorderColor:'grey',
  }]

  },
  options:{
      title:{
          display:false,
          text:'Selling List',
          fontSize:20,
          fontColor:'#524D4F',

      },
  legend:{
      display:false,
      position:'right',
  },

  layout:{
      padding:{
          left:50,
          right:0,
          top:20,
          bottom:20
       },
      
  },
  options: {
       responsive: true
      },
}
});
  </script>
  </body>
</html>
