<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Chart CDN link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Link Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#" style="color: white;"><div class="head1">Om Construction</div></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/records">Records</a></li>
              <li><a href="/Stocks">Stocks Available</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li style="padding-right: 20px;"><a href="/login" style="color: #5bc0de;"><span class="glyphicon glyphicon-log-in" style="color:#5bc0de"></span> Login</a></li> -->

                <%if(username!=null){%>
                    <li style="padding-right: 20px;" class="drop"><a href="/signup" class="dropdown-toggle" data-toggle="dropdown" style="color: #5bc0de;"><span class="glyphicon glyphicon-user" style="color: #5bc0de;" ></span> <%=username%></a>
                      <ul class="dropdown-menu">
                        <li><a href="/insert">Insert Records</a></li>
                        <li><a href="/show">Show Records</a></li>
                        <li><a href="/logout">Logout</a></li>
                      </ul>
                    </li>
                    <%}%>
                    <%if(username==null){%>
                      <li style="padding-right: 20px;"><a href="/login" style="color: #5bc0de;"><span class="glyphicon glyphicon-log-in" style="color:#5bc0de"></span> Login</a></li>
                    <%}%>

                    <form class="navbar-form navbar-left" action="/search" method="post">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Enter Cement Name" name="name">
                        </div>
                        <button type="submit" value="search" class="btn btn-success">Search</button>
                      </form>
            </ul>
          </div>
      </nav>


<!-- Code for Lafarge Details details -->
    <div class="container">
      <div class="jumbotron">
        <div class="buying">
            <h3 style="color: green;">Lafarge cement per month details</h3>
          </div>
          <canvas id="lafargeChart" ></canvas>

          
          <%lmf.forEach(function(row){
            if(row._id==="2019-01"){%>

              <input type="hidden" id="lmfjan" value="<%= row.total%>">
              <%}%>            
          <%})%>
          <%lmf.forEach(function(row){
            if(row._id==="2019-02"){%>
              <input type="hidden" id="lmffeb" value="<%= row.total%>"><%}%>            
          <%})%>
          <%lmf.forEach(function(row){
            if(row._id==="2019-03"){%>
              <input type="hidden" id="lmfmar" value="<%= row.total%>"><%}%>            
          <%})%>
          <%lmf.forEach(function(row){
            if(row._id==="2019-04"){%>
              <input type="hidden" id="lmfapr" value="<%= row.total%>"><%}%>            
          <%})%>






          <%lmf.forEach(function(row){
            if(row._id==="2019-05"){%>
              <input type="hidden" id="lmfmay" value="<%= row.total%>"><%}%>            
          <%})%>
          <%lmf.forEach(function(row){
            if(row._id==="2019-06"){%>
              <input type="hidden" id="lmfjun" value="<%= row.total%>"><%}%>            
          <%})%>
          <%lmf.forEach(function(row){
            if(row._id==="2019-07"){%>
              <input type="hidden" id="lmfjul" value="<%= row.total%>"><%}%>            
          <%})%>
          <%lmf.forEach(function(row){
            if(row._id==="2019-08"){%>
              <input type="hidden" id="lmfaug" value="<%= row.total%>"><%}%>            
          <%})%>
        

          


          <%lmf.forEach(function(row){
            if(row._id==="2019-09"){%>

             <input type="hidden" id="lmfsep" value="<%= row.total%>"><%}%>
                         
          <%})%>
          <%lmf.forEach(function(row){
            if(row._id==="2019-10"){%>
              <input type="hidden" id="lmfoct" value="<%= row.total%>"><%}%>            
          <%})%>
          <%lmf.forEach(function(row){
            if(row._id==="2019-11"){%>
              <input type="hidden" id="lmfnov" value="<%= row.total%>"><%}%>            
          <%})%>
          <%lmf.forEach(function(row){
            if(row._id==="2019-12"){%>
              <input type="hidden" id="lmfdec" value="<%= row.total%>"><%}%>            
          <%})%>










      </div>
    </div>

<!-- Code for Birla Details details -->
<div class="container">
        <div class="jumbotron">
          <div class="buying">
              <h3 style="color: #f0ad4e;">Birla cement per month details</h3>
            </div>
            <canvas id="birlaChart" ></canvas>

            <%bmf.forEach(function(row){
              if(row._id==="2019-01"){%>
  
                <input type="hidden" id="bmfjan" value="<%= row.total%>">
                <%}%>            
            <%})%>
            <%bmf.forEach(function(row){
              if(row._id==="2019-02"){%>
                <input type="hidden" id="bmffeb" value="<%= row.total%>"><%}%>            
            <%})%>
            <%bmf.forEach(function(row){
              if(row._id==="2019-03"){%>
                <input type="hidden" id="bmfmar" value="<%= row.total%>"><%}%>            
            <%})%>
            <%bmf.forEach(function(row){
              if(row._id==="2019-04"){%>
                <input type="hidden" id="bmfapr" value="<%= row.total%>"><%}%>            
            <%})%>
  
  
  
  
  
  
            <%bmf.forEach(function(row){
              if(row._id==="2019-05"){%>
                <input type="hidden" id="bmfmay" value="<%= row.total%>"><%}%>            
            <%})%>
            <%bmf.forEach(function(row){
              if(row._id==="2019-06"){%>
                <input type="hidden" id="bmfjun" value="<%= row.total%>"><%}%>            
            <%})%>
            <%bmf.forEach(function(row){
              if(row._id==="2019-07"){%>
                <input type="hidden" id="bmfjul" value="<%= row.total%>"><%}%>            
            <%})%>
            <%bmf.forEach(function(row){
              if(row._id==="2019-08"){%>
                <input type="hidden" id="bmfaug" value="<%= row.total%>"><%}%>            
            <%})%>
          
  
            
  
  
            <%bmf.forEach(function(row){
              if(row._id==="2019-09"){%>
  
               <input type="hidden" id="bmfsep" value="<%= row.total%>"><%}%>
                           
            <%})%>
            <%bmf.forEach(function(row){
              if(row._id==="2019-10"){%>
                <input type="hidden" id="bmfoct" value="<%= row.total%>"><%}%>            
            <%})%>
            <%bmf.forEach(function(row){
              if(row._id==="2019-11"){%>
                <input type="hidden" id="bmfnov" value="<%= row.total%>"><%}%>            
            <%})%>
            <%bmf.forEach(function(row){
              if(row._id==="2019-12"){%>
                <input type="hidden" id="bmfdec" value="<%= row.total%>"><%}%>            
            <%})%>
  







        </div>
      </div>


<!-- Code for Dalmia Details details -->
<div class="container">
        <div class="jumbotron">
          <div class="buying">
              <h3 style="color:#5d5ca0;">Dalmia cement per month details</h3>
            </div>
            <canvas id="dalmiaChart" ></canvas>

            <%dmf.forEach(function(row){
              if(row._id==="2019-01"){%>
  
                <input type="hidden" id="dmfjan" value="<%= row.total%>">
                <%}%>            
            <%})%>
            <%dmf.forEach(function(row){
              if(row._id==="2019-02"){%>
                <input type="hidden" id="dmffeb" value="<%= row.total%>"><%}%>            
            <%})%>
            <%dmf.forEach(function(row){
              if(row._id==="2019-03"){%>
                <input type="hidden" id="dmfmar" value="<%= row.total%>"><%}%>            
            <%})%>
            <%dmf.forEach(function(row){
              if(row._id==="2019-04"){%>
                <input type="hidden" id="dmfapr" value="<%= row.total%>"><%}%>            
            <%})%>
  
  
  
  
  
  
            <%dmf.forEach(function(row){
              if(row._id==="2019-05"){%>
                <input type="hidden" id="dmfmay" value="<%= row.total%>"><%}%>            
            <%})%>
            <%dmf.forEach(function(row){
              if(row._id==="2019-06"){%>
                <input type="hidden" id="dmfjun" value="<%= row.total%>"><%}%>            
            <%})%>
            <%dmf.forEach(function(row){
              if(row._id==="2019-07"){%>
                <input type="hidden" id="dmfjul" value="<%= row.total%>"><%}%>            
            <%})%>
            <%dmf.forEach(function(row){
              if(row._id==="2019-08"){%>
                <input type="hidden" id="dmfaug" value="<%= row.total%>"><%}%>            
            <%})%>
          
  
            
  
  
            <%dmf.forEach(function(row){
              if(row._id==="2019-09"){%>
  
               <input type="hidden" id="dmfsep" value="<%= row.total%>"><%}%>
                           
            <%})%>
            <%dmf.forEach(function(row){
              if(row._id==="2019-10"){%>
                <input type="hidden" id="dmfoct" value="<%= row.total%>"><%}%>            
            <%})%>
            <%dmf.forEach(function(row){
              if(row._id==="2019-11"){%>
                <input type="hidden" id="dmfnov" value="<%= row.total%>"><%}%>            
            <%})%>
            <%dmf.forEach(function(row){
              if(row._id==="2019-12"){%>
                <input type="hidden" id="dmfdec" value="<%= row.total%>"><%}%>            
            <%})%>
  
        </div>
      </div>


<!-- Code for others Details details -->
<div class="container">
        <div class="jumbotron">
          <div class="buying">
              <h3 style="color:#292b2c;">Others cement per month details</h3>
            </div>
            <canvas id="otherChart" ></canvas>

            <%omf.forEach(function(row){
              if(row._id==="2019-01"){%>
  
                <input type="hidden" id="omfjan" value="<%= row.total%>">
                <%}%>            
            <%})%>
            <%omf.forEach(function(row){
              if(row._id==="2019-02"){%>
                <input type="hidden" id="omffeb" value="<%= row.total%>"><%}%>            
            <%})%>
            <%omf.forEach(function(row){
              if(row._id==="2019-03"){%>
                <input type="hidden" id="omfmar" value="<%= row.total%>"><%}%>            
            <%})%>
            <%omf.forEach(function(row){
              if(row._id==="2019-04"){%>
                <input type="hidden" id="omfapr" value="<%= row.total%>"><%}%>            
            <%})%>
  
  
  
  
  
  
            <%omf.forEach(function(row){
              if(row._id==="2019-05"){%>
                <input type="hidden" id="omfmay" value="<%= row.total%>"><%}%>            
            <%})%>
            <%omf.forEach(function(row){
              if(row._id==="2019-06"){%>
                <input type="hidden" id="omfjun" value="<%= row.total%>"><%}%>            
            <%})%>
            <%omf.forEach(function(row){
              if(row._id==="2019-07"){%>
                <input type="hidden" id="omfjul" value="<%= row.total%>"><%}%>            
            <%})%>
            <%omf.forEach(function(row){
              if(row._id==="2019-08"){%>
                <input type="hidden" id="omfaug" value="<%= row.total%>"><%}%>            
            <%})%>
          
  
            
  
  
            <%omf.forEach(function(row){
              if(row._id==="2019-09"){%>
  
               <input type="hidden" id="omfsep" value="<%= row.total%>"><%}%>
                           
            <%})%>
            <%omf.forEach(function(row){
              if(row._id==="2019-10"){%>
                <input type="hidden" id="omfoct" value="<%= row.total%>"><%}%>            
            <%})%>
            <%omf.forEach(function(row){
              if(row._id==="2019-11"){%>
                <input type="hidden" id="omfnov" value="<%= row.total%>"><%}%>            
            <%})%>
            <%omf.forEach(function(row){
              if(row._id==="2019-12"){%>
                <input type="hidden" id="omfdec" value="<%= row.total%>"><%}%>            
            <%})%>
  

        </div>
      </div>





      <footer class="page-footer font-small blue" style="background-color:whitesmoke; position: relative; bottom: 0; width: 100%; ">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3" style="padding:20px 0 ;">© 2019 Copyright:
              <a href="#"> Ankit Kumar</a>
            </div>
            <!-- Copyright -->
          
      </footer>

<script>
  
          Chart.defaults.global.defaultFontFamily = 'Lato';
          Chart.defaults.global.defaultFontSize = 15;
          Chart.defaults.global.defaultFontColor = '#777';
// lafarge code of bargraph.........

            var Ljan,Lfeb,Lmar,Lapr,Lmay,Ljun,Ljul,Laug,Lsep,Loct,Lnov,Ldec;

            var LJanuary = document.getElementById("lmfjan");
            var LFebruary = document.getElementById("lmffeb");
            var LMarch = document.getElementById("lmfmar");
            var LApril = document.getElementById("lmfapr");
            var LMay = document.getElementById("lmfmay");
            var LJune = document.getElementById("lmfjun");
            var LJuly = document.getElementById("lmfjul");
            var LAugust = document.getElementById("lmfaug");
            var LSeptember = document.getElementById("lmfsep");
            var LOctober = document.getElementById("lmfoct");
            var LNovember = document.getElementById("lmfnov");
            var LDecember = document.getElementById("lmfdec");




            if(LJanuary!==null){
              var Ljan = parseInt(LJanuary.value);
            }
            else{
              var Ljan = 0;
            }

            if(LFebruary!==null){
                  var Lfeb = parseInt(LFebruary.value);
            }
            else{
                  var Lfeb = 0;
            }
            if(LMarch!==null){
              var Lmar = parseInt(LMarch.value);
            }
            else{
              var Lmar = 0;
            }
            if(LApril!==null){
              var Lapr = parseInt(LApril.value);
            }
            else{
              var Lapr=0;
            }
            if(LMay!==null){
              var Lmay = parseInt(LApril.value);
            }
            else{
              var Lmay = 0;
            }
            if(LJune!==null){
              var Ljun = parseInt(LJune.value);
            }
            else{
              var Ljun=0;
            }
            if(LJuly!==null){
              var Ljul = parseInt(LJuly.value);
            }
            else{
              var Ljul =0;
            }
            if(LAugust!==null){
              var Laug = parseInt(LAugust.value);
            }
            else{
              var Laug = 0;
            }
            if(LSeptember!==null){
              var Lsep = parseInt(LSeptember.value);
            }
            else{
              var Lsep = 0;
            }
            if(LOctober!==null){
              var Loct = parseInt(LOctober.value);
            }
            else{
              var Loct = 0;
            }
            if(LNovember!==null){
              var Lnov = parseInt(LNovember.value);
            }
            else{
              var Lnov = 0;
            }
            if(LDecember!==null){
              var Ldec = parseInt(LDecember.value);
            }
            else{
              var Ldec = 0;
            }



          var lafargeChart = document.getElementById('lafargeChart').getContext('2d');
          var mylafargechart = new Chart(lafargeChart,{
              type:'bar',
              data:{
                  labels:['January','February','March','April','May','June','July','August','September','October','November','December'],
                  datasets:[{
                      label:'Laferge ',
                      barPercentage: 0.5,
                      barThickness: 6,
                      maxBarThickness: 8,
                      minBarLength: 2,
                      data:[Ljan,Lfeb,Lmar,Lapr,Lmay,Ljun,Ljul,Laug,Lsep,Loct,Lnov,Ldec],
                    //   backgroundColor:['#5cb35c','#f1ad4e','#5bc5de','#212b11','#5cb85c','#f0ad4e','#5bc0de','#292b2c','#51b854','#f1bd2e','#4b101e','#202c2b'],
                    backgroundColor:['#0275d8','#5cb85c','#5bc0de','#f0ad4e','#d9534f','#292b2c','#0275d8','#5cb85c','#5bc0de','#f0ad4e','#d9534f','#292b2c'],
                      
                      hoverBorderWidth:2,
                      hoverBorderColor:'grey',
                  }]

              },
              options:{
                  title:{
                      display:false,
                      text:'Buying List',
                      fontSize:20,
                      fontColor:'#524D4F',
                      
                  },
                  legend:{
                      display:false,
                      position:'right',
                      labels:{
                          fontColor:'#000'
                      }
                  },

                  layout:{
                      padding:{
                          left:50,
                          right:0,
                          top:20,
                          bottom:20
                      }
                  },
                  tooltips:{
                  enabled:true
                  },
                  options: {
                           responsive: true
                          },
              }
          });


// Birla Gold Code of Bargraph

var Bjan,Bfeb,Bmar,Bapr,Bmay,Bjun,Bjul,Baug,Bsep,Boct,Bnov,Bdec;

var BJanuary = document.getElementById("bmfjan");
var BFebruary = document.getElementById("bmffeb");
var BMarch = document.getElementById("bmfmar");
var BApril = document.getElementById("bmfapr");
var BMay = document.getElementById("bmfmay");
var BJune = document.getElementById("bmfjun");
var BJuly = document.getElementById("bmfjul");
var BAugust = document.getElementById("bmfaug");
var BSeptember = document.getElementById("bmfsep");
var BOctober = document.getElementById("bmfoct");
var BNovember = document.getElementById("bmfnov");
var BDecember = document.getElementById("bmfdec");




if(BJanuary!==null){
  var Bjan = parseInt(BJanuary.value);
}
else{
  var Bjan = 0;
}

if(BFebruary!==null){
      var Bfeb = parseInt(BFebruary.value);
}
else{
      var Bfeb = 0;
}
if(BMarch!==null){
  var Bmar = parseInt(BMarch.value);
}
else{
  var Bmar = 0;
}
if(BApril!==null){
  var Bapr = parseInt(BApril.value);
}
else{
  var Bapr=0;
}
if(BMay!==null){
  var Bmay = parseInt(BApril.value);
}
else{
  var Bmay = 0;
}
if(BJune!==null){
  var Bjun = parseInt(BJune.value);
}
else{
  var Bjun=0;
}
if(BJuly!==null){
  var Bjul = parseInt(BJuly.value);
}
else{
  var Bjul =0;
}
if(BAugust!==null){
  var Baug = parseInt(BAugust.value);
}
else{
  var Baug = 0;
}
if(BSeptember!==null){
  var Bsep = parseInt(BSeptember.value);
}
else{
  var Bsep = 0;
}
if(BOctober!==null){
  var Boct = parseInt(BOctober.value);
}
else{
  var Boct = 0;
}
if(BNovember!==null){
  var Bnov = parseInt(BNovember.value);
}
else{
  var Bnov = 0;
}
if(BDecember!==null){
  var Bdec = parseInt(BDecember.value);
}
else{
  var Bdec = 0;
}




var birlaChart = document.getElementById('birlaChart').getContext('2d');
          var mybirlachart = new Chart(birlaChart,{
              type:'bar',
              data:{
                  labels:['January','February','March','April','May','June','July','August','September','October','November','December'],
                  datasets:[{
                      label:'Birla ',
                      barPercentage: 0.5,
                      barThickness: 6,
                      maxBarThickness: 8,
                      minBarLength: 2,
                      data:[Bjan,Bfeb,Bmar,Bapr,Bmay,Bjun,Bjul,Baug,Bsep,Boct,Bnov,Bdec],
                    //   backgroundColor:['#5cb35c','#f1ad4e','#5bc5de','#212b11','#5cb85c','#f0ad4e','#5bc0de','#292b2c','#51b854','#f1bd2e','#4b101e','#202c2b'],
                    backgroundColor:['#0275d8','#5cb85c','#5bc0de','#f0ad4e','#d9534f','#292b2c','#0275d8','#5cb85c','#5bc0de','#f0ad4e','#d9534f','#292b2c'],
                      
                      hoverBorderWidth:2,
                      hoverBorderColor:'grey',
                  }]

              },
              options:{
                  title:{
                      display:false,
                      text:'Buying List',
                      fontSize:20,
                      fontColor:'#524D4F',
                      
                  },
                  legend:{
                      display:false,
                      position:'right',
                      labels:{
                          fontColor:'#000'
                      }
                  },

                  layout:{
                      padding:{
                          left:50,
                          right:0,
                          top:20,
                          bottom:20
                      }
                  },
                  tooltips:{
                  enabled:true
                  },
                  options: {
                           responsive: true
                          },
              }
          });


//Dalmia code for bargraph

var Djan,Dfeb,Dmar,Dapr,Dmay,Djun,Djul,Daug,Dsep,Doct,Dnov,Ddec;

var DJanuary = document.getElementById("dmfjan");
var DFebruary = document.getElementById("dmffeb");
var DMarch = document.getElementById("dmfmar");
var DApril = document.getElementById("dmfapr");
var DMay = document.getElementById("dmfmay");
var DJune = document.getElementById("dmfjun");
var DJuly = document.getElementById("dmfjul");
var DAugust = document.getElementById("dmfaug");
var DSeptember = document.getElementById("dmfsep");
var DOctober = document.getElementById("dmfoct");
var DNovember = document.getElementById("dmfnov");
var DDecember = document.getElementById("dmfdec");




if(DJanuary!==null){
  var Djan = parseInt(DJanuary.value);
}
else{
  var Djan = 0;
}

if(DFebruary!==null){
      var Dfeb = parseInt(DFebruary.value);
}
else{
      var Dfeb = 0;
}
if(DMarch!==null){
  var Dmar = parseInt(DMarch.value);
}
else{
  var Dmar = 0;
}
if(DApril!==null){
  var Dapr = parseInt(DApril.value);
}
else{
  var Dapr=0;
}
if(DMay!==null){
  var Dmay = parseInt(DApril.value);
}
else{
  var Dmay = 0;
}
if(DJune!==null){
  var Djun = parseInt(DJune.value);
}
else{
  var Djun=0;
}
if(DJuly!==null){
  var Djul = parseInt(DJuly.value);
}
else{
  var Djul =0;
}
if(DAugust!==null){
  var Daug = parseInt(DAugust.value);
}
else{
  var Daug = 0;
}
if(DSeptember!==null){
  var Dsep = parseInt(DSeptember.value);
}
else{
  var Dsep = 0;
}
if(DOctober!==null){
  var Doct = parseInt(DOctober.value);
}
else{
  var Doct = 0;
}
if(BNovember!==null){
  var Dnov = parseInt(DNovember.value);
}
else{
  var Dnov = 0;
}
if(BDecember!==null){
  var Ddec = parseInt(DDecember.value);
}
else{
  var Ddec = 0;
}


var dalmiaChart = document.getElementById('dalmiaChart').getContext('2d');
          var mydalmiachart = new Chart(dalmiaChart,{
              type:'bar',
              data:{
                  labels:['January','February','March','April','May','June','July','August','September','October','November','December'],
                  datasets:[{
                      label:'Dalmia ',
                      barPercentage: 0.5,
                      barThickness: 6,
                      maxBarThickness: 8,
                      minBarLength: 2,
                      data:[Djan,Dfeb,Dmar,Dapr,Dmay,Djun,Djul,Daug,Dsep,Doct,Dnov,Ddec],
                    //   backgroundColor:['#5cb35c','#f1ad4e','#5bc5de','#212b11','#5cb85c','#f0ad4e','#5bc0de','#292b2c','#51b854','#f1bd2e','#4b101e','#202c2b'],
                    backgroundColor:['#0275d8','#5cb85c','#5bc0de','#f0ad4e','#d9534f','#292b2c','#0275d8','#5cb85c','#5bc0de','#f0ad4e','#d9534f','#292b2c'],
                      
                      hoverBorderWidth:2,
                      hoverBorderColor:'grey',
                  }]

              },
              options:{
                  title:{
                      display:false,
                      text:'Buying List',
                      fontSize:20,
                      fontColor:'#524D4F',
                      
                  },
                  legend:{
                      display:false,
                      position:'right',
                      labels:{
                          fontColor:'#000'
                      }
                  },

                  layout:{
                      padding:{
                          left:50,
                          right:0,
                          top:20,
                          bottom:20
                      }
                  },
                  tooltips:{
                  enabled:true
                  },
                  options: {
                           responsive: true
                          },
              }
          });


// Others cements details code

var Ojan,Ofeb,Omar,Oapr,Omay,Ojun,Ojul,Oaug,Osep,Ooct,Onov,Odec;

var OJanuary = document.getElementById("omfjan");
var OFebruary = document.getElementById("omffeb");
var OMarch = document.getElementById("omfmar");
var OApril = document.getElementById("omfapr");
var OMay = document.getElementById("omfmay");
var OJune = document.getElementById("omfjun");
var OJuly = document.getElementById("omfjul");
var OAugust = document.getElementById("omfaug");
var OSeptember = document.getElementById("omfsep");
var OOctober = document.getElementById("omfoct");
var ONovember = document.getElementById("omfnov");
var ODecember = document.getElementById("omfdec");




if(OJanuary!==null){
  var Ojan = parseInt(OJanuary.value);
}
else{
  var Ojan = 0;
}

if(OFebruary!==null){
      var Ofeb = parseInt(OFebruary.value);
}
else{
      var Ofeb = 0;
}
if(OMarch!==null){
  var Omar = parseInt(OMarch.value);
}
else{
  var Omar = 0;
}
if(OApril!==null){
  var Oapr = parseInt(OApril.value);
}
else{
  var Oapr=0;
}
if(OMay!==null){
  var Omay = parseInt(OApril.value);
}
else{
  var Omay = 0;
}
if(OJune!==null){
  var Ojun = parseInt(OJune.value);
}
else{
  var Ojun=0;
}
if(OJuly!==null){
  var Ojul = parseInt(OJuly.value);
}
else{
  var Ojul =0;
}
if(OAugust!==null){
  var Oaug = parseInt(OAugust.value);
}
else{
  var Oaug = 0;
}
if(OSeptember!==null){
  var Osep = parseInt(OSeptember.value);
}
else{
  var Osep = 0;
}
if(OOctober!==null){
  var Ooct = parseInt(OOctober.value);
}
else{
  var Ooct = 0;
}
if(ONovember!==null){
  var Onov = parseInt(ONovember.value);
}
else{
  var Onov = 0;
}
if(BDecember!==null){
  var Odec = parseInt(ODecember.value);
}
else{
  var Odec = 0;
}

var otherChart = document.getElementById('otherChart').getContext('2d');
          var myotherchart = new Chart(otherChart,{
              type:'bar',
              data:{
                  labels:['January','February','March','April','May','June','July','August','September','October','November','December'],
                  datasets:[{
                      label:'Others ',
                      barPercentage: 0.5,
                      barThickness: 6,
                      maxBarThickness: 8,
                      minBarLength: 2,
                      data:[Ojan,Ofeb,Omar,Oapr,Omay,Ojun,Ojul,Oaug,Osep,Ooct,Onov,Odec],
                    //   backgroundColor:['#5cb35c','#f1ad4e','#5bc5de','#212b11','#5cb85c','#f0ad4e','#5bc0de','#292b2c','#51b854','#f1bd2e','#4b101e','#202c2b'],
                    backgroundColor:['#0275d8','#5cb85c','#5bc0de','#f0ad4e','#d9534f','#292b2c','#0275d8','#5cb85c','#5bc0de','#f0ad4e','#d9534f','#292b2c'],
                      
                      hoverBorderWidth:2,
                      hoverBorderColor:'grey',
                  }]

              },
              options:{
                  title:{
                      display:false,
                      text:'Buying List',
                      fontSize:20,
                      fontColor:'#524D4F',
                      
                  },
                  legend:{
                      display:false,
                      position:'right',
                      labels:{
                          fontColor:'#000'
                      }
                  },

                  layout:{
                      padding:{
                          left:50,
                          right:0,
                          top:20,
                          bottom:20
                      }
                  },
                  tooltips:{
                  enabled:true
                  },
                  options: {
                           responsive: true
                          },
              }
          });

</script>
</body>
</html>
